.metadata
bin /
tmp /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.settings /
.loadpath
.recommenders

# Construtores externos de ferramentas
.externalToolBuilders /

# "Configurações de inicialização do Eclipse" armazenadas localmente
* .launch

# PyDev específico (Python IDE para Eclipse)
* .pydevproject

# Específico para CDT (ferramentas de desenvolvimento C / C ++)
.cproject

# CDT- autotools
.autotools

# Processador de anotação Java (APT)
.factorypath

# Específico para PDT (Ferramentas de Desenvolvimento PHP)
.buildpath

# plugin sbteclipse
.alvo

# Plugin Tern
.tern-project

# Plugin TeXlipse
.texlipse

# STS (Conjunto de ferramentas Spring)
.springBeans

# Recomendadores de código
.recommenders /

# Processamento de anotação
.apt_generated /
.apt_generated_test /

# Scala IDE específico (desenvolvimento Scala e Java para Eclipse)
.cache-main
.scala_dependencies
.folha de trabalho

# Remova o comentário desta linha se desejar ignorar o arquivo de descrição do projeto.
# Normalmente, este arquivo seria rastreado se contiver configurações de compilação / dependência:
# .project
